<footer class="footer">

	<div class="wrap">

		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer__copyright">
			<div class="footer__links">
				<a href="https://YongJiee.github.io/images/Tan Yong Jie_Resume (2025).pdf" download="Tan Yong Jie_Resume (2025).pdf" class="footer__link">Resume</a>
				<span class="footer__separator">|</span>
				<a href="mailto:Tan_Yong_jie@outlook.com" class="footer__link">Tan_Yong_jie@outlook.com</a>
				<span class="footer__separator">|</span>
				<a href="tel:+6581260458" class="footer__link">+65 8126 0458</a>
				<span class="footer__separator">|</span>
				<span class="footer__location">Singapore, SG</span>
			</div>
		</div>

		{% include socials.html %}

	</div>

</footer>