<footer class="footer">

	<div class="wrap">

		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer__copyright">
			<!-- <span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span> -->
			<a href="https://YongJiee.github.io/images/Tan Yong Jie_Resume.pdf" download="Tan Yong Jie_Resume.pdf">Resume</a>
			<span>  |  </span>
			<span>  |  </span>
			<span>Email: Tan_Yong_jie@outlook.com</span>
			<span>  |  </span>
			<span>  |  </span>
			<span>Tel: +65 81260458 </span>
			<span>  |  </span>
			<span>  |  </span>
			<span>Singapore, SG</span>
		</div>

		{% include socials.html %}

	</div>

</footer>